* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/blue-sky-background.jpg);
  color: white;
  font-family: "Shanti", sans-serif;
}

.form-container {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

input {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 8px;
  outline: none;
  border: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -35px;
}

button:hover {
  cursor: pointer;
}

button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.current-container {
  display: flex;
  justify-content: space-around;
  margin: 100px 0 0px 0;
  align-items: center;
}

.section-1 h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.section-1 h2 {
  font-size: 48px;
}

.section-2 h3 {
  font-size: 36px;
}

.section-2 h4 {
  font-size: 20px;
}

.section-2 h1 {
  font-size: 100px;
}

.section-2 p {
  font-size: 90px;
  margin: 0 20px;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp {
  display: flex;
  justify-content: space-between;
}

.section-3 {
  width: 15%;
}

.section-3 h2 {
  font-size: 48px;
  text-align: center;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.specifics {
  display: flex;
  flex-direction: column;
}

.details img {
  width: 50px;
  height: auto;
}

.specifics h4 {
  font-size: 16px;
  text-align: right;
  margin-top: 18px;
}

.specifics h2 {
  font-size: 36px;
  text-align: right;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.day-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border-radius: 10px;
}

.temp {
  margin: 10px 0;
}

.day-card h3 {
  margin-right: 10px;
}

.top p {
  font-size: 30px;
  margin: 0 8px;
}

.bottom {
  width: 100%;
}

.bottom h2 {
  text-align: center;
}

.forecast-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.forecast-details img {
  margin-top: 10px;
  width: 30px;
  height: auto;
}

.specifics h3 {
  text-align: right;
}

.specifics h5 {
  margin-top: 20px;
}

@media (max-width: 1155px) {
  .section-1 h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  .section-1 h2 {
    font-size: 36px;
  }

  .section-2 h3 {
    font-size: 24px;
  }

  .section-2 h4 {
    font-size: 16px;
  }

  .section-2 h1 {
    font-size: 64px;
  }

  .section-2 p {
    font-size: 56px;
    margin: 0 20px;
  }
  .section-3 h2 {
    font-size: 36px;
    text-align: center;
  }
  .details img {
    width: 40px;
    height: auto;
  }
  .specifics h4 {
    font-size: 14px;
    text-align: right;
    margin-top: 18px;
  }

  .specifics h2 {
    font-size: 30px;
    text-align: right;
  }
  .forecast {
    width: 65%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  z-index: 10;
}

.fa-github {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

@media (max-width: 850px) {
  .section-1 h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .section-1 h2 {
    font-size: 30px;
  }

  .section-2 h3 {
    font-size: 22px;
  }

  .section-2 h4 {
    font-size: 16px;
  }

  .section-2 h1 {
    font-size: 50px;
  }

  .section-2 p {
    font-size: 44px;
    margin: 0 20px;
  }
  .section-3 h2 {
    font-size: 26px;
    text-align: center;
  }
  .details img {
    width: 36px;
    height: auto;
  }
  .specifics h4 {
    font-size: 14px;
    text-align: right;
    margin-top: 18px;
  }

  .specifics h2 {
    font-size: 26px;
    text-align: right;
  }
  .forecast {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .current-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-3 {
    width: 50%;
  }
}
